<div>
  <label for="Productname">productName</label>
  <input type="text" class="form-control" #pname>
  <label for="Productprice">product Price</label>
  <input type="number" class="form-control" #pamount>
  <label for="Productdesc">product desc</label>
  <input type="text" class="form-control" #pdesc>
  <label for="Productdesc">productQuntity</label>
  <input type="number" class="form-control" #pcounter>
  <button class="btn btn-success" (click)="AddNewProduct()">AddNewProduct</button>
</div>
